@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --code-frame-height: 480px;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer components {
  .markdown {
    @apply text-primary [&>:first-child]:!mt-0 [&>:last-child]:!mb-0 leading-7;
  }

  .markdown > * + * {
    @apply mt-4;
  }

  /* Markdown Table Style */
  .markdown thead {
    @apply [&_tr]:border-b;
  }

  .markdown tbody {
    @apply [&_tr:last-child]:border-0;
  }

  .markdown tr {
    @apply border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted;
  }

  .markdown th {
    @apply h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0;
  }

  .markdown td {
    @apply p-4 align-middle [&:has([role=checkbox])]:pr-0;
  }

  .markdown tfoot {
    @apply border-t bg-muted/50 font-medium [&>tr]:last:border-b-0;
  }

  /* Markdown Heading Style */

  .markdown h1 {
    @apply text-3xl font-bold text-primary sm:text-4xl mt-12 mb-6;
  }

  .markdown h2 {
    @apply text-2xl font-bold text-primary sm:text-3xl mt-12 mb-6;
  }

  .markdown h3 {
    @apply text-xl font-bold text-primary sm:text-2xl mt-6 mb-4;
  }

  .markdown h4 {
    @apply text-lg font-semibold text-primary sm:text-xl mt-6 mb-4;
  }

  .markdown h5 {
    @apply text-base font-semibold text-primary sm:text-lg mt-4 mb-2;
  }

  .markdown h6 {
    @apply text-sm font-semibold text-primary sm:text-base mt-4 mb-2;
  }

  /* Markdown Link Style */

  .markdown a {
    @apply underline-offset-4 underline;
  }

  .markdown strong a {
    @apply font-bold;
  }

  /* Markdown List Style */

  .markdown ul {
    @apply list-disc px-6;
  }

  .markdown ol {
    @apply list-decimal px-6;
  }

  .markdown li + li {
    @apply mt-1;
  }

  .markdown ul:has(input[type="checkbox"]) {
    @apply list-none px-0;
  }

  /* Markdown Blockquote Style */

  .markdown blockquote {
    @apply border-l-4 border-primary pl-4 py-1 my-4 text-muted-foreground;
  }

  .markdown blockquote * {
    @apply m-0 !important;
  }

  /* Markdown Text Style */

  .markdown p {
    @apply mt-4 mb-2;
  }

  .markdown strong {
    @apply font-semibold;
  }

  /* Markdown Accordion Style */
  .markdown #accordion h3 {
    @apply mt-0 mb-0;
  }

  .markdown #accordion-content > div > * {
    @apply m-0;
  }
}
